@media screen and (max-width:900px){
    body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .pannel{
        background-image: url(image/mba.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    }
    .p1{
        position: relative;
        top: 25%;
        left: 2%;
    }
    #text{
        font-size: 40px;
        width: 70%;
        color: #F89F5B;
    }
    .s {
        color: #E53F71;
    }
    #tr{
        font-size: 30px;
        color: #F89F5B;
    }
    input{
        width: 50%;
        padding: 5px 10px;
        border-radius: 10px 0px 0px 10px;
        
        border: 0;
    }
    .icon{
        position: relative;
        top: 2.3px;
    }
    button{
        
        background-color: #E53F71;
        border: 0;
        padding: 5px 10px;
        border-radius: 10%;
        font-weight: bolder;
        color: #fff;
    }
    #p{
        position: relative;
        left: 0%;
    }
    #image1{
        width: 280px;
    }
    #image2{
        width: 280px;
        position: relative;
        left: 50px;
        bottom: 50px;
        border: 5px solid #fff;
    }
    .im{
        width: 80%;
        text-align: center;
        position: relative;
        top: 50px;
        left: 6%;
        
    }
    #why{
        font-size: 25px;
        margin-bottom: 3%;
    }
    #s1{
        color: #917b9b;
    }
    #s2{
        color: #84509c;
    }
    .choose h1{
        font-size: 25px;
        margin-bottom: 3%;
    }
    #make{
        font-size: 20px;
        margin-bottom: 3%;
    }
    #make span{
        font-weight: bolder;
    }
    .choose p{
        font-size: 15px;
    }
    .tri h1 , .tri button{
    
        position: relative;
        left: 56%;
        top: 33%;
    }
    .tri h1{
        color: #fff;
        font-weight: bolder;
        font-size: 25px;
    }
    .tri button{
        font-size: 15px;
        background-color: #F89F5B;
        color: #fff;
        border-radius: 210px;
        margin-top: 6px;
    }
    
    .tri{
        width: 100%;
        height: 25vh;
        background-image: url(image/taxi.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 8%;
    }
    #veh{
        
        position: relative;
        top: 3%;
        text-align: center;
        font-size: 20px;
        color: #E53F71;
        margin-bottom: 10%;
        margin-top: 10%;
      }
      .tri button{
        font-size: 40px;
        background-color: #F89F5B;
        color: #fff;
        border-radius: 20px;
        margin-top: 20px;
    }
    .carousel-caption h5{
        font-size: 20px;
        font-weight: bolder;
        position: relative;
        left: 28%;
        bottom: 30px;
    }
    .carousel-caption button{
        font-size: 12px;
        font-weight: bold;
        background-color: #F89F5B;
        border-radius: 20px;
        position: relative;
        left: 28%;
        bottom: 30px;
        
    }
    .carousel-caption img{
        width: 30px;
        height: 30px;
        padding-left: 2px;
    }
    .recharge h2{
        padding: 2% 2% 2% 4%;
    }
    .recharge h3{
        font-weight: bold;
        position: relative;
        bottom: 12px;
        padding-left: 2%;
    }
    .recharge p{
        
        position: relative;
        bottom: 12px;
        padding-left: 2%;
    }
    .recharge li{
        padding: 4% 0 2%;
    }
    .recharge ul{
        padding: 5% 0 2% ;
        width: 80%;
        position: relative;
        left: 20%;
    
    }
    .location h2{
        font-size: 25px;
    }
    .book{
        font-size: 20px;
    }
    .location li{
        padding: 4% 0 2%;
    }
    .location ul{
        padding: 5% 0 2% ;
        width: 80%;
        position: relative;
        left: 20%;
    
    }
    .location img{
        height: auto;
    }
    .location h3{
        font-weight: bold;
        position: relative;
        bottom: 12px;
        padding-left: 2%;
        padding-bottom: 4px;
    }
    .l{
        
        position: relative;
        bottom: 28px;
        padding-left: 2%;
    }
    #Aboutus{
        font-size: 25px;
        margin-bottom: 2%;
    }
    #a1{
        color: #917b9b;
    }
    #a2{
        color: #84509c;
    }
    .abpannel{
        width: 90%;
        position: relative;
        left: 5%;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto;
        margin: 5% 0 5%;
    }
    .ap{
        width: 100%;
    }
    .ap img{
       width:  100%;
       margin: 0; 
    }
    .ap h2,.ap h4{
        width: 90%;
       text-align: center;
       justify-content: center;
       position: relative;
       top: 0;
       left: 5%;
       
    }
    .ap h2{
        font-size: 25px;
    }
    .ap h4{
        font-size: 18px;
        padding-bottom: 10%;
    
    }
    
    .about h1{
        font-size: 30px;
        
    color: #fff;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 120px;
    }
    .about h2{
        font-size: 25px;
    }
    .about p{
        font-size: 18px;
    }
    .creapers h2{
        width: 80%;
        font-size: 35px;
        position: relative;
        top: 28%;
        left: 10%;
    }
    .creapers button{
        width: 40%;
        font-size: 20px;
        position: relative;
        top: 28%;
        left: 30%;
        
    }
    .creapers{
        background-image: url(image/creapers.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 50vh;
        margin: 5% 0;
    }
    
    .card {
        border: 0;
        flex: 0 0 auto;
        width: 310px; /* Set the width of your cards */
        margin-right: 20px; /* Adjust spacing between cards */
      }
      .card img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: relative;
        left: 40%;
        bottom: 10%;
      }
      .card h2{
       
        text-align: center;
        font-size: 25px; 
        font-weight: bold;
      }
      .card h3{ 
        text-align: center;
        font-weight: bold;
        font-size: 18px; 
      }
      .card p{
        width: 90%;
        position: relative; 
        left: 5%; 
        bottom: 5%;
        font-size: 12px; 
        text-align: justify;
      }
      footer a{
        padding: 10px 0;
      }

}

